// COLORS
$color-default: #fff;
$color-black-primary: #1D1D24;
$color-black-secondary: #6C6A6A;
$color-black-teritaty: #AEAEAE;

// gradients
$gradient-main-primary: linear-gradient(91deg, #A493D8 0%, #5F72E9 100%);

// bg
$bg-white-secondary: #F9F9F9;

// borders
$border-new-main-primary: #A493D8;

// transitions
$transition-default: 0.15s ease-in-out;

// fonts
$font-settings: 'clig' off, 'liga' off;
