@import "fonts";
@import "authSection";
@import "codeVerificationSection";
@import "agreement";
@import "registrationCompleted";
@import "NameSection";
@import "geoSection";
@import "navigationMenu";

.auth {
  max-width: 375px;
  margin: 0 auto;
  
  & .back {
    cursor: pointer;
  }

  &__title {
    color: $color-black-primary;
    font-feature-settings: $font-settings;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 4px;
    font-family: $font-inter;
  }

  &__description {
    color: $color-black-secondary;
    font-feature-settings: $font-settings;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    font-family: $font-inter;
  }

  &-agreement-text {
    text-align: left;
    color: $color-black-primary;
    font-feature-settings: $font-settings;
    font-size: 15px;
    line-height: 20px;
    margin-top: -4px;
    font-family: $font-inter;
  }

  &-submit {
    margin-top: 16px;
  }

  &__link {
    background: $gradient-main-primary;
    font-family: $font-mulish;
    font-weight: 700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &  .slide-fade-enter-active {
    transition: all 0.3s ease-out;
  }

  & .slide-fade-leave-active {
    transition: none;
  }

  & .slide-fade-enter-from,
  & .slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
  }
}