@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  src: url("./../fonts/Inter-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  src: url("./../fonts/Inter-Medium.otf") format("opentype");
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Mulish.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito-Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NunitoSans-Regular.ttf") format("truetype");
}