.registration-completed {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 150px 16px 16px 16px;

  &__icon {
    max-width: 150px;
    align-self: center;
  }

  &__title {
    font-family: $font-inter;
    margin: 55px 0 5px;
    color: $color-black-primary;
    text-align: center;
    font-feature-settings: $font-settings;
    font-size: 24px;
  }

  &__text {
    font-family: $font-inter;
    color: $color-black-secondary;
    text-align: center;
    font-feature-settings: $font-settings;
    font-size: 14px;
    line-height: 20px;
  }

  &__button {
    margin-top: auto;
  }
}